<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd      
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- author minn -->
 <description>hadoop spark  config</description>
 
  <context:property-placeholder ignore-unresolvable="true" location="classpath*:/spring/application.hadoopspark.properties" />
 <context:component-scan base-package="p.minn.hadoop" />
  <bean id="hdfsFileUtils" class="p.minn.hadoop.hdfs.HDFSFileUtils">
        <constructor-arg value="hdfs://${minn.hdfs.defaultFS}"/>
		<property name="input" value="${minn.hdfs.input}"/>
	    <property name="output" value="${minn.hdfs.output}"/>
	    <property name="driverClass" value="${jdbc.hdfs.driver}"/> 
		<property name="dbUrl" value="${jdbc.hdfs.url}"/> 
		<property name="username" value="${jdbc.hdfs.username}"/> 
		<property name="password" value="${jdbc.hdfs.password}"/>    
  </bean>
    <bean id="hdfsdataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="${jdbc.hdfs.driver}"/> 
		<property name="url" value="${jdbc.hdfs.url}"/> 
		<property name="username" value="${jdbc.hdfs.username}"/> 
		<property name="password" value="${jdbc.hdfs.password}"/> 
	</bean> 

	<bean id="hdfstransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="hdfsdataSource" />
	</bean>
	 
    <tx:annotation-driven transaction-manager="hdfstransactionManager"/>
    
     <bean id="hivedataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="${jdbc.hive.driver}"/> 
		<property name="url" value="${jdbc.hive.url}"/> 
		<property name="username" value="${jdbc.hive.username}"/> 
		<property name="password" value="${jdbc.hive.password}"/> 
	</bean> 

	<bean id="hivetransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="hivedataSource" />
	</bean>
	 
    <tx:annotation-driven transaction-manager="hivetransactionManager"/>
    
   <!-- define the SqlSessionFactory -->
	<bean id="hdfsSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
		<property name="dataSource" ref="hdfsdataSource" />
		<property name="typeAliasesPackage" value="p.minn.hadoop.entity" />
		<property name="mapperLocations" value="classpath:/mybatis/hadoop/*Mapper.xml" />
	</bean>

   <bean id="hdfsSession" class="org.mybatis.spring.SqlSessionTemplate" >
       <constructor-arg index="0" ref="hdfsSessionFactory"></constructor-arg>
   </bean>
   
	<!-- scan for mappers and let them be autowired -->
	<bean id="hdfsmapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="p.minn.hadoop.repository" />
		<property name="sqlSessionFactoryBeanName" value="hdfsSessionFactory"/>
	</bean>

	<bean id="hadoopHiveJDBC" class="p.minn.jdbc.hive.HadoopHiveJDBC">
	   <property name="hivedataSource" ref="hivedataSource" />
	</bean>

</beans>